body, html{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#header{
    background:url("https://www.wallpapertip.com/wmimgs/3-36195_dark-city-wallpaper-hd.jpg");   
    color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 3em;
    background-position: center;
    background-size: cover;
    
}
#header a{
    position: absolute;
    top: 50%;
    left: 38%;
    right: auto;
    color: black;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}
a{
    display: inline-block;
}
  
a::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: rgb(255, 255, 255);
    transition: 300ms;
    top: -2px;
}
  
a:hover::after {
    width: 100%;
}