:root{
    --main-color: rgb(255, 45, 45);
    --secondary-color: rgb(255, 111, 45);
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: static;
    left: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80vh;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -ms-border-radius: 15px 15px 15px 15px;
    -o-border-radius: 15px 15px 15px 15px;

}
  
  li {
    float: left;


  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 300ms;
}
    
  
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background: linear-gradient(135deg, var(--main-color),var(--secondary-color));
  }